[mitm]
hostname = wyaapi.xsy124006.asia,d3cd3rn5299ol7.cloudfront.net,d3ekdcyt77miso.cloudfront.net

[rewrite_local]
^https:\/\/(wyaapi.xsy124006.asia|d3cd3rn5299ol7.cloudfront.net|d3ekdcyt77miso.cloudfront.net)\/api\/app\/(ping\/domain\/h5|vid\/(info\/?|user\/count|tiroCountdown)|mine\/info) url script-response-body https://raw.githubusercontent.com/Yuheng0101/X/main/Scripts/WYDSP/wydsp.js
